<div id="servicos">
<div class="row p-5">
    <h1 class="gold">Serviços</h1>
</div>
<div class="row px-5 py-1 text-white" style="font-size: 1.5rem;">
    <p>Trabalhamos com fabricação e montagem
        de estruturas metálicas industriais ,
        comerciais e residenciais
        <div><img src="/images/seta" style="width: 30px; margin-right: 5px;"> Manutenção Industrial em geral</div>
        <div class="d-flex my-5 imgs-service">
            <div class="row">
            <div class="col-12 col-lg-4">
            <img src="/images/industrial/I1" class="img-fluid w-lg-25 mx-1 mt-lg-1 mt-3">
            </div>
            <div class="col-12 col-lg-4">
            <img src="/images/industrial/I2" class="img-fluid w-lg-25 mx-1 mt-lg-1 mt-3">
            </div>
            <div class="col-12 col-lg-4">
            <img src="/images/industrial/I5" class="img-fluid w-lg-25 mx-1 mt-lg-1 mt-3">
            </div>
            </div>
        </div>
        <div><img src="/images/seta" style="width: 30px; margin-right: 5px;"> Reforço Estrutural</div>
        <div class="d-flex my-5 imgs-service">
            <div class="row">
            <div class="col-12 col-lg-4">
            <img src="/images/REFORCO1" class="img-fluid w-lg-25 mx-1 mt-lg-1 mt-3">
            </div>
            <div class="col-12 col-lg-4">
            <img src="/images/services/6" class="img-fluid w-lg-25 mx-1 mt-lg-1 mt-3">
            </div>
            <div class="col-12 col-lg-4">
            <img src="/images/services/7" class="img-fluid w-lg-25 mx-1 mt-lg-1 mt-3">
            </div>
            </div>
        </div>
        <div><img src="/images/seta" style="width: 30px; margin-right: 5px;"> Galpões, Prédios, Mezaninos, Escadas,
            Estrutura para Elevadores, Pipe Rack,
            Telhados, Plataformas</div>
            <div class="d-flex my-5 imgs-service">
                <div class="row">
                <div class="col-12 col-lg-4">
                <img src="/images/services/3" class="img-fluid w-lg-25 mx-1 mt-lg-1 mt-3">
                </div>
                <div class="col-12 col-lg-4">
                <img src="/images/services/5" class="img-fluid w-lg-25 mx-1 mt-lg-1 mt-3">
                </div>
                <div class="col-12 col-lg-4">
                <img src="/images/services/2" class="img-fluid w-lg-25 mx-1 mt-lg-1 mt-3">
                </div>
                </div>
            </div>
        <div><img src="/images/seta" style="width: 30px; margin-right: 5px;"> Coberturas Termoacústicas , Fechamento
            em Painéis Termoacústicos</div>
            <div class="d-flex my-5 imgs-service">
                <div class="row">
                <div class="col-12 col-lg-4">
                <img src="/images/services/1" class="img-fluid w-lg-25 mx-1 mt-lg-1 mt-3">
                </div>
                <div class="col-12 col-lg-4">
                <img src="/images/pergolado" class="img-fluid w-lg-25 mx-1 mt-lg-1 mt-3">
                </div>
                <div class="col-12 col-lg-4">
                <img src="/images/GUARITA" class="img-fluid w-lg-25 mx-1 mt-lg-1 mt-3">
                </div>
                </div>
            </div>
    </p>
</div>
</div>

