<div id="galeria">
<div class="row px-5 py-5">
    <h1 class="gold">Galeria</h1>
</div>
<div class="row px-5">
    <div class="col-12 col-lg-3 mt-3 mt-lg-0">

        <div class="card p-2" style="width: 18rem; background: transparent; border: 1px solid goldenrod; border-radius: 10px;">
            <img class="card-img-top img-card-gallery" src="/images/industrial/I17" alt="Card image cap">
            <div class="card-body mt-2">
              <h5 class="card-title text-white mb-4">Industrial</h5>
              <a href="/galeria/industrial" class="btn btn-warning">Visualizar</a>
            </div>
          </div>

    </div>

    <div class="col-12 col-lg-3 mt-3 mt-lg-0">

        <div class="card p-2" style="width: 18rem; background: transparent; border: 1px solid goldenrod; border-radius: 10px;">
            <img class="card-img-top img-card-gallery" src="/images/comercial/C1" alt="Card image cap">
            <div class="card-body mt-2">
              <h5 class="card-title text-white mb-4">Comercial</h5>
              <a href="/galeria/comercial" class="btn btn-warning">Visualizar</a>
            </div>
          </div>

    </div>

    <div class="col-12 col-lg-3 mt-3 mt-lg-0">

        <div class="card p-2" style="width: 18rem; background: transparent; border: 1px solid goldenrod; border-radius: 10px;">
            <img class="card-img-top img-card-gallery" src="/images/residencial/R1" alt="Card image cap">
            <div class="card-body mt-2">
              <h5 class="card-title text-white mb-4">Residencial</h5>
              <a href="/galeria/residencial" class="btn btn-warning">Visualizar</a>
            </div>
          </div>

    </div>
</div>

</div>