<div id="contato">

<div class="row text-center">
    <h1 class="gold p-5">Entre em contato conosco</h1>
</div>
<div class="row text-white p-2 text-center text-lg-left">
    <a class="mt-3" style="color: white; text-decoration: none;" href="https://api.whatsapp.com/send?phone=5531988677550"><img src="/images/iconewpp" class="icons">(31) 98867-7550</a>
    <a class="mt-2" style="color: white; text-decoration: none;" href="mailto:comercial@minasmetalica.com.br"><img src="/images/iconemail" class="icons">comercial@minasmetalica.com.br</a>
    <a class="mt-2" style="color: white; text-decoration: none;" href="mailto:brunosr_andrade@hotmail.com"><img src="/images/iconemail" class="icons">brunosr_andrade@hotmail.com</a>
    <div class="row">
        <div class="col-lg-6 col-12 justify-content-center">
            <div class="row flex-column" style="align-items: center;">
                <div class="col-lg-6 col-12 justify-content-center">
                    <div class="mt-5"><img src="/images/iconelocalizacao" class="icons">Escritório Central: <br>
                    Alphaville , Lagoa dos Ingleses<br>
                    Cep: 34018-054
                    </div>
                </div>
                <div class="col-lg-6 col-12 mt-3 justify-content-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1324.1756965109498!2d-43.95544246840859!3d-20.16179518933299!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sus!4v1678635129083!5m2!1spt-BR!2sus" style="border:0; width: 100%; height: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 justify-content-center">
            <div class="row flex-column" style="align-items: center;">
                <div class="col-lg-6 col-12 justify-content-center">
                    <div class="mt-5"><img src="/images/iconelocalizacao" class="icons">Indústria: <br>
                    AV. Coletora, 01 . 590, Esmeraldas , MG - 
                    Cep: 32819-224
                    </div>
                </div>
                <div class="col-lg-6 col-12 mt-3 justify-content-center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4339.593897478421!2d-44.19551916600079!3d-19.709339163998422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6f112f395f83b%3A0xc9980269a8da2047!2sAv.%20Coletora%2C%201%20-%20Melo%20Viana%2C%20Esmeraldas%20-%20MG%2C%2035740-000!5e0!3m2!1spt-BR!2sbr!4v1678663400995!5m2!1spt-BR!2sbr" style="border:0; width: 100%; height: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

</div>