<div class="container">
<div class="row p-5">
    <div class="col-lg-6 col-sm-12 px-lg-5 px-sm-2">
        <h1 class="welcome-title">BEM-VINDOS A <b>MINAS METÁLICA</b></h1>
        <p class="welcome-text">Atuamos no mercado de estruturas metálicas sempre mantendo a excelência nos serviços oferecidos.
        Você poderá também, entrar em contato diretamente com a nossa central de atendimento ao cliente, para sanar suas dúvidas, enviar criticas ou sugestões, nos ajudando assim a manter sempre a excelência no atendimento. Obrigado por nos visitar e tenha uma boa navegação.</p>
        <a href="/institucional" class="btn btn-outline-warning mb-sm-5">Saiba mais</a>
    </div>
    <div class="col-lg-6 col-sm-12 p-lg-2 p-2 mt-3 mt-lg-0">
        <img src="/images/WELCOME" alt="" class="img-fluid">
    </div>
</div>